@import "glyphicons.less";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

#templates {
  display: none;
}

#main-container {
  position: absolute;
  height: 100%;
  width: 100%;

  > .inner {
    display: flex;
    height: 100%;

    > .app-left {
      width: 300px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;

      .logo {
        width: 100%;
        padding: 10px 20px;
        line-height: 40px;
        height: 60px;
        font-size: 30px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.1);
      }

      .scroll {
        flex-grow: 1;
        flex-basis: 0;
        overflow-y: scroll;
        border: 1px solid #ccc;
        border-left: none;

        &::-webkit-scrollbar {
          width: 15px;
          background-color: #ddd;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 8px;
          background: rgba(0, 0, 0, 0.6);
          border: 3px solid #ddd;

          &::before {
            content: "";
            display: block;
            width: 5px;
            height: 5px;
            background-color: #f00;
          }
        }

        .scroll-content {

          .app-left-button() {
              background-color: #ddd;
              border: 1px solid #ccc;
              padding: 5px 8px;
              font-size: 12px;
              line-height: 18px;
              cursor: pointer;

              &:hover {
                background-color: #d7d7d7;
              }
          }

          .tab-tree {

            .node {

              .tab {
                margin-top: -1px;
                position: relative;

                .arrow {
                  display: none;
                  position: absolute;
                  height: 30px;
                  padding: 8px 0 0 7px;
                  cursor: pointer;

                  &:hover {
                    opacity: 0.6;
                  }

                  span {
                    color: #666;
                    transform: rotate(0);
                    display: inline-block;
                    transition: transform 0.4s;
                  }
                }

                .button {
                  .app-left-button();
                  margin-left: 25px;
                }
              }

              &.selected > .tab .button {
                background-color: #d6d6d6;
              }

              &.has-children > .tab .arrow {
                display: inline-block;
              }

              > .children {
                padding: 0 0 0 20px;
                overflow: hidden;
                max-height: 0;
                transition: max-height 0;
              }

              &.expanded {
                > .children {
                  transition: max-height 0.3s ease-in;
                  max-height: 999px;
                }

                > .tab .arrow span {
                  transform: rotate(90deg);
                }
              }
            }

          }

          .new-tab-button {
            .app-left-button();
            margin: 20px;
            text-align: center;
          }
        }
      }
    }

    > .app-right {
      height: 100%;
      flex-grow: 1;
      background-color: rgba(0, 0, 0, 0.05);
      position: relative;

      .tab {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .bar-buttons {
          display: flex;
          flex-direction: row;

          .button {
            margin: 5px;
            height: 30px;
            background-color: #ddd;
            border: 1px solid #ccc;
            padding: 5px 8px;
            font-size: 12px;
            line-height: 18px;
            cursor: pointer;

            &:hover {
              background-color: #d7d7d7;
            }

          }
        }

        .input-text {
          margin: 5px;
          flex-grow: 1;
          display: flex;

          input {
            flex-grow: 1;
            border: 1px solid #ccc;
            outline: none;
            padding: 0 5px;

            &:focus {
              background-color: #f7f7f7;

            }
          }
        }

        .top, .settings {
          display: flex;
          flex-direction: row;
          padding: 5px;
          background-color: rgba(0, 0, 0, 0.05);
          border-bottom: 1px solid #ccc;
        }

        .settings {
          display: none;
        }

        .webview-wrapper {
          flex-grow: 1;

          webview {
            position: absolute;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .show-settings .tab .settings {
      display: flex;
    }
  }
}
